<div class="mx-auto grid max-w-screen-xl items-center gap-4 md:grid-cols-2">
    <div data-aos="fade-right" class="flex flex-col justify-between h-full aos-init aos-animate">
        <h2 class="mb-4 text-2xl font-bold">Đối tác Chủ đầu tư</h2>
        <p class="mb-4 text-gray-700">
            An Phú Holdings là một doanh nghiệp tiên phong trong lĩnh vực bất động sản và phát triển không gian làm
            việc
            hiện đại, luôn đặt sự bền vững và giá trị lâu dài lên hàng đầu. Công ty tự hào đồng hành cùng nhiều đối
            tác
            chủ đầu tư uy tín như CapitaLand, REE Corporation, SSG Group, Mapletree, Regus và Saigon Centre.
        </p>
        <p>
            Sự hợp tác này không chỉ mang lại những dự án chất lượng cao, mà còn góp phần kiến tạo môi trường làm
            việc
            chuyên nghiệp, tiện nghi và thân thiện. Với tầm nhìn chiến lược, An Phú Holdings cùng các đối tác đang
            xây
            dựng nền tảng phát triển bền vững cho cộng đồng và xã hội.
        </p>
        <!-- <a href="/doi-tac" class="font-medium text-blue-600 hover:underline">Tìm hiểu thêm</a> -->
        <a href="/doi-tac" class="mt-6 inline-flex items-center gap-2 text-blue-600 font-medium  cta w-fit self-start">
            <span>Tìm hiểu thêm</span>
            <svg width="15px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </a>

    </div>

    <div data-aos="fade-left" class="grid grid-cols-3 md:grid-cols-3 gap-4 aos-init aos-animate">
        <div class="rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
            <img src="./assets/logo/logo-CapitaLand-feature.png" alt="TP. Thủ Đức"
                class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy">
        </div>

        <div class="rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
            <img src="./assets/logo/logo-halo-building.png" alt="TP. Thủ Đức"
                class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy">
        </div>

        <div class="rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
            <img src="./assets/logo/logo-Cobi-groupp.png" alt="TP. Thủ Đức"
                class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy">
        </div>

        <div class="rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
            <img src="./assets/logo/logo-ree-coporation.png" alt="TP. Thủ Đức"
                class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy">
        </div>

        <div class="rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
            <img src="./assets/logo/logo-SSG-Group-feature.png" alt="TP. Thủ Đức"
                class="rounded-lg object-cover opacity-80 transition hover:opacity-100" loading="lazy">
        </div>

        <div class="rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
            <img src="./assets/logo/logo-maple-tree.png" alt="TP. Thủ Đức"
                class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy">
        </div>

        <div class="rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
            <img src="./assets/logo/logo-moc-gia.png" alt="TP. Thủ Đức"
                class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy">
        </div>

        <div class="rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
            <img src="./assets/logo/logo-regus.png" alt="TP. Thủ Đức"
                class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy">
        </div>
        <div class="rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
            <img src="./assets/logo/saigon-centre.png" alt="TP. Thủ Đức"
                class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy">
        </div>
    </div>
</div>