.description-h3 {
   @apply mb-30 text-lg font-bold text-new-900 md:text-[22px] lg:text-[28px] xl:text-[34px] xl:font-medium;
}

.description-p {
   @apply mb-3 font-poppins text-sm text-new-800 md:mb-4 md:text-base lg:mb-5 lg:text-lg xl:leading-[26px];
}

.tag {
   @apply block rounded-full border hover:border-secondary hover:text-secondary transition-all border-new-200 px-2.5 py-[5px] font-poppins text-sm font-medium text-new-200;
}

/* Cards */
.pd-reviews-card {
   @apply flex flex-col sm:flex-row max-w-[300px] items-center gap-5 rounded-[20px] border border-new-200 2xl:px-8 xl:px-7 lg:px-6 md:px-5 px-4 md:py-3.5 sm:py-3 py-2.5;

   .pd-reviews-icon {
      @apply text-secondary shrink-0;
   }

   .pd-reviews-body {
      @apply flex flex-col gap-y-1.5 lg:gap-y-2;

      span {
         @apply font-poppins text-center sm:text-start text-sm font-medium text-new-800 md:text-base lg:text-lg;
      }

      p {
         @apply text-lg text-center sm:text-start font-bold text-new-900 lg:text-xl lg:font-medium xl:text-2xl;
      }
   }
}
