<div class="container grid gap-10 px-3 md:grid-cols-10 md:gap-12 lg:gap-16 xl:gap-20 2xl:px-2">
    <div data-aos="flip-left" class="flex size-fit flex-col px-5 md:col-span-4 xl:px-0">
        <h2 class="heading-2 !mb-0 !text-start xl:!leading-[64px]">
            Chúng tôi cung cấp những sản phẩm phù hợp và chất lượng nhất!
        </h2>

        <div class="mt-4 md:mt-8 lg:mt-14 xl:mt-20">
            <h4 class="text-xl font-medium text-nature-500 md:text-2xl lg:text-3xl xl:text-[34px]">
                Liên hệ:

            </h4>
            <p class="mt-1.5 font-poppins text-nature-300 md:mt-2.5 lg:mt-3 lg:text-lg">
                Điền vào biểu mẫu, đội ngũ của chúng tôi sẽ liên hệ lại với bạn
                trong vòng 24 giờ.
            </p>

            <div class="mt-3.5 flex items-center gap-x-3 md:mt-5 md:gap-x-4 lg:mt-6 lg:gap-x-5 xl:mt-[30px] xl:gap-x-6">
                <a href="#" class="text-nature-400 transition-all hover:text-[#1877f2]" target="_blank"
                    rel="noopener noreferrer"><i class="fa-brands fa-square-facebook text-2xl"></i></a>
                <a href="#" class="text-nature-400 transition-all hover:text-[#c32aa3]" target="_blank"
                    rel="noopener noreferrer"><i class="fa-brands fa-square-instagram text-2xl"></i></a>
                <a href="#" class="text-nature-400 transition-all hover:text-[#0a66c2]" target="_blank"
                    rel="noopener noreferrer"><i class="fa-brands fa-linkedin text-2xl"></i></a>
                <a href="#" class="text-nature-400 transition-all hover:text-black" target="_blank"
                    rel="noopener noreferrer"><i class="fa-brands fa-square-x-twitter text-2xl"></i></a>
            </div>

            <div class="mt-5 flex flex-col gap-y-4 md:mt-10 md:gap-y-5 lg:mt-14 lg:gap-y-6 xl:mt-[70px] xl:gap-y-7">
                <div class="flex gap-x-2 lg:gap-x-3">
                    <div class="flex size-10 items-center justify-center rounded-md bg-primary xl:size-12">
                        <i class="fa-solid fa-phone-volume text-lg text-white xl:text-xl"></i>
                    </div>
                    <div class="size-fit">
                        <p class="font-poppins font-medium text-nature-400 lg:text-lg">
                            +84 987 11 00 11
                        </p>
                        <span class="font-poppins text-sm font-normal text-nature-200">Hỗ trợ qua điện thoại</span>
                    </div>
                </div>

                <div class="flex gap-x-2 lg:gap-x-3">
                    <div class="flex size-10 items-center justify-center rounded-md bg-primary xl:size-12">
                        <i class="fa-solid fa-envelope text-lg text-white xl:text-xl"></i>
                    </div>
                    <div class="size-fit">
                        <p class="font-poppins font-medium text-nature-400 lg:text-lg">
                            support@anphuholdings.vn
                        </p>
                        <span class="font-poppins text-sm font-normal text-nature-200">Hỗ trợ qua email</span>
                    </div>
                </div>

                <div class="flex gap-x-2 lg:gap-x-3">
                    <div class="flex size-10 items-center justify-center rounded-md bg-primary xl:size-12">
                        <i class="fa-solid fa-map-pin text-lg text-white xl:text-xl"></i>
                    </div>
                    <div class="size-fit">
                        <p class="font-poppins font-medium text-nature-400 lg:text-lg">
                            Deutsches Haus, 33 Lê Duẩn, Bến Nghé, Quận 1, TP. HCM
                        </p>
                        <span class="font-poppins text-sm font-normal text-nature-200">Địa chỉ văn phòng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-aos="flip-left" class="rounded-2xl bg-white p-7 pt-12 md:col-span-6">
        <form class="grid w-full gap-2.5 md:gap-4 lg:gap-5 xl:gap-6">
            <div class="w-full">
                <label for="name"
                    class="mb-1.5 block font-poppins text-base font-medium text-nature-600 md:mb-2.5 lg:mb-3">Họ và
                    tên</label>
                <input type="text" placeholder="Nhập họ và tên của bạn" id="name"
                    class="placeholder:font-poppins placeholder:text-sm placeholder:text-nature-50" />
            </div>

            <div class="grid grid-cols-2 gap-2.5 md:gap-4 lg:gap-5 xl:gap-6">
                <div class="w-full">
                    <label for="email"
                        class="mb-1.5 block font-poppins text-base font-medium text-nature-600 md:mb-2.5 lg:mb-3">Email</label>
                    <input type="text" placeholder="Nhập email của bạn" id="email"
                        class="placeholder:font-poppins placeholder:text-sm placeholder:text-nature-50" />
                </div>
                <div class="w-full">
                    <label class="mb-1.5 block font-poppins text-base font-medium text-nature-600 md:mb-2.5 lg:mb-3"
                        for="phone">Số điện thoại</label>
                    <input id="phone" type="text" placeholder="Nhập số điện thoại"
                        class="placeholder:font-poppins placeholder:text-sm placeholder:text-nature-50" />
                </div>
            </div>

            <div class="w-full">
                <label class="mb-1.5 block font-poppins text-base font-medium text-nature-600 md:mb-2.5 lg:mb-3"
                    for="property">Loại Bất động sản</label>
                <select name="property" id="property">
                    <option value="" class="font-poppins text-sm text-nature-50">
                        Chọn loại
                    </option>
                    <option value="property-1">Loại 1</option>
                    <option value="property-2">Loại 2</option>
                    <option value="property-3">Loại 3</option>
                    <option value="property-4">Loại 4</option>
                </select>
            </div>

            <div class="w-full">
                <label class="mb-1.5 block font-poppins text-base font-medium text-nature-600 md:mb-2.5 lg:mb-3"
                    for="message">Tin nhắn</label>
                <textarea name="message" id="message" placeholder="Nội dung tin nhắn" rows="8"
                    class="max-h-36 placeholder:font-poppins placeholder:text-sm placeholder:text-nature-50 md:max-h-40 lg:max-h-48 xl:max-h-56"></textarea>
            </div>

            <div>
                <button type="submit"
                    class="rounded-xl bg-primary px-8 py-3.5 font-poppins font-medium text-white transition-all hover:bg-primary-400 md:px-9 md:py-4 lg:px-10 lg:py-5 lg:text-lg xl:px-11 xl:py-[22px]">
                    Gửi Tin Nhắn
                </button>
            </div>
        </form>
    </div>
</div>