<!-- Footer nháp -->
<footer class="section-padding-t">
    <div
        class="container mb-6 grid w-full max-w-[100] mx-auto grid-cols-6 gap-3 px-4 md:mb-10 md:grid-cols-5 lg:mb-14 lg:px-0">
        <div data-aos="fade-up" class="col-span-4 md:col-span-2">
            <a href="/" class="flex items-center gap-x-3" aria-label="An Phú Holdings" target="_blank">
                <img src="assets/logo/anphu-holdings.jpg" alt="An Phú Holdings" class="size-fit" width="120" height="40"
                    loading="lazy" />
            </a>

            <div class="mt-10">
                <h2 class="mb-5 text-lg font-bold text-nature-600 md:text-xl">
                    Địa chỉ
                </h2>
                <address class="text-sm not-italic font-poppins text-nature-400 md:text-base">
                    <span>🏠 Deutsches Haus 33 - Lê Duẩn, Quận 1 <br> TP. Hồ Chí Minh, Việt Nam</span>
                    <span class="block my-2">📞 <a href="tel:+84881234567">+(84) 987 11 00 11</a></span>
                    ✉️ <a href="mailto:mail@example.com">support@anphuholdings.vn</a>
                </address>
            </div>
        </div>

        <nav data-aos="fade-up" data-aos-delay="150" class="col-span-2 md:col-span-1" aria-label="Về chúng tôi">
            <h2 class="mb-2.5 text-lg font-bold text-nature-600 md:mb-3.5 md:text-xl lg:mb-5">
                Về chúng tôi
            </h2>
            <ul class="grid gap-2 text-sm font-poppins text-nature-400 md:gap-3 md:text-base lg:gap-4">
                <li class="transition-all hover:text-nature-500">
                    <a href="#about">Giới thiệu</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="#policy">Chính sách</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="#careers">Tuyển dụng</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="#blog">Blog</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="#contact">Liên hệ</a>
                </li>
            </ul>
        </nav>

        <nav data-aos="fade-up" data-aos-delay="300" class="col-span-3 md:col-span-1" aria-label="Dịch vụ">
            <h2 class="mb-2.5 text-lg font-bold text-nature-600 md:mb-3.5 md:text-xl lg:mb-5">
                Dịch vụ
            </h2>
            <ul class="grid gap-2 text-sm font-poppins text-nature-400 md:gap-3 md:text-base lg:gap-4">
                <li class="transition-all hover:text-nature-500">
                    <a href="/van-phong-tron-goi">Văn phòng trọn gói</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="/coworking-space">Coworking Space</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="/phong-hop">Phòng họp</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="/van-phong-ao">Văn phòng ảo</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="/dia-diem">Địa điểm</a>
                </li>
            </ul>
        </nav>

        <nav data-aos="fade-up" data-aos-delay="450" class="col-span-3 md:col-span-1" aria-label="Hỗ trợ">
            <h2 class="mb-2.5 text-lg font-bold text-nature-600 md:mb-3.5 md:text-xl lg:mb-5">
                Hỗ trợ
            </h2>
            <ul class="grid gap-2 text-sm font-poppins text-nature-400 md:gap-3 md:text-base lg:gap-4">
                <li class="transition-all hover:text-nature-500">
                    <a href="/faq">Câu hỏi thường gặp</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="/huong-dan">Hướng dẫn</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="/dieu-khoan">Điều khoản sử dụng</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="/chinh-sach-bao-mat">Chính sách bảo mật</a>
                </li>
                <li class="transition-all hover:text-nature-500">
                    <a href="/sitemap.xml">Sitemap</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container max-w-[1230px] mx-auto px-4 lg:px-0">
        <hr />
    </div>

    <div
        class="container mb-3.5 mt-5 flex max-w-[100] mx-auto flex-col items-center justify-center gap-y-3.5 px-4 md:mb-6 md:mt-10 md:flex-row md:justify-between lg:mb-9 lg:mt-[54px] lg:px-0">
        <p class=" aos-init text-sm leading-[14px] text-nature-400">
            &copy;2024 An Phú Holdings Creative. All rights reserved.
        </p>

        <div class="flex items-center gap-x-4 md:gap-x-7 lg:gap-x-10">
            <p class="text-sm leading-[14px] text-nature-400">
                Theo dõi chúng tôi
            </p>
            <ul class="flex items-center gap-x-4 md:gap-x-7 lg:gap-x-10">
                <li>
                    <a href="#facebook" aria-label="Facebook Homelist">
                        <i
                            class="text-sm transition-all fa-brands fa-facebook-f text-slate-400 hover:text-gold md:text-base lg:text-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="#twitter" aria-label="Twitter Homelist">
                        <i
                            class="text-sm transition-all fa-brands fa-x-twitter text-slate-400 hover:text-gold md:text-base lg:text-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="#instagram" aria-label="Instagram Homelist">
                        <i
                            class="text-sm transition-all fa-brands fa-instagram text-slate-400 hover:text-gold md:text-base lg:text-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="#linkedin" aria-label="LinkedIn Homelist">
                        <i
                            class="text-sm transition-all fa-brands fa-linkedin-in text-slate-400 hover:text-gold md:text-base lg:text-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>