<!-- New ward office Start -->
<div class="container mx-auto px-4 xl:px-0">
    <!-- <h2 data-aos="zoom-in-up" class="heading-2 aos-init aos-animate">Văn phòng theo phường mới</h2> -->
    <div data-aos="fade-right" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500"
        class="relative mb-8">
        <h2 class="text-3xl font-bold leading-tight text-gray-900 md:text-4xl aos-init swiper-slide-active aos-animate">
            <span class="relative inline-block">
                Bạn đang tìm kiếm
                <span class="absolute left-0 w-full h-1 bg-green-700 rounded-full -bottom-2"></span>
            </span>
            <span class="relative ml-2 text-blue-500">
                toà nhà văn phòng nguyên căn tại Tp Hồ Chí Minh?
            </span>
        </h2>
    </div>

    <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
        <!-- Row 1 -->
        <a data-aos="zoom-in-right" href="#" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="flex size-16 items-center justify-center rounded-lg 
              bg-primary/10 overflow-hidden">
                <img src="assets/images/thumbnails/thumbnail-16.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>

            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 1
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">
                    343+ tòa nhà
                </p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-secondary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-secondary">Q5</span> -->
                <img src="assets/images/thumbnails/thumbnail-17.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Quận 5
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">32+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-primary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-primary">Q2</span> -->
                <img src="assets/images/thumbnails/thumbnail-18.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 2
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">164+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-secondary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-secondary">Q7</span> -->
                <img src="assets/images/thumbnails/thumbnail-19.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 7
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">70+ tòa nhà</p>
            </div>
        </a>

        <!-- Row 2 -->
        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-primary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-primary">Q3</span> -->
                <img src="assets/images/thumbnails/thumbnail-20.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 3
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">218+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-secondary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-secondary">Q8</span> -->
                <img src="assets/images/thumbnails/thumbnail-21.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 8
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">97+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-primary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-primary">Q4</span> -->
                <img src="assets/images/thumbnails/thumbnail-22.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 4
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">54+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-secondary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-secondary">Q10</span> -->
                <img src="assets/images/thumbnails/thumbnail-23.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 10
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">102+ tòa nhà</p>
            </div>
        </a>

        <!-- Row 3 -->
        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-primary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-primary">Q1</span> -->
                <img src="assets/images/thumbnails/thumbnail-24.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 1
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">343+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-secondary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-secondary">Q5</span> -->
                <img src="assets/images/thumbnails/thumbnail-25.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 5
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">32+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-primary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-primary">Q2</span> -->
                <img src="assets/images/thumbnails/thumbnail-28.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 2
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">164+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-secondary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-secondary">Q7</span> -->
                <img src="assets/images/thumbnails/thumbnail-29.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 7
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">70+ tòa nhà</p>
            </div>
        </a>

        <!-- Row 4 -->
        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-primary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-primary">Q3</span> -->
                <img src="assets/images/thumbnails/thumbnail-30.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 3
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">218+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-secondary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-secondary">Q8</span> -->
                <img src="assets/images/thumbnails/thumbnail-31.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 8
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">97+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-primary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-primary">Q4</span> -->
                <img src="assets/images/thumbnails/thumbnail-32.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 4
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">54+ tòa nhà</p>
            </div>
        </a>

        <a data-aos="zoom-in-right" href="/cho-thue-toa-nha-quan-1.html" class="hover-bubble group flex items-center gap-3 rounded-xl border border-nature-100 
         bg-white p-4 transition-all duration-300
         hover:border-pink-200 hover:shadow-lg">
            <div class="bg-secondary/10 flex size-16 items-center justify-center rounded-lg">
                <!-- <span class="text-lg font-bold text-secondary">Q10</span> -->
                <img src="assets/images/thumbnails/thumbnail-33.jpg" alt="TP. Thủ Đức" class="size-16 rounded-lg object-cover 
             transition-transform duration-300 ease-out
             group-hover:scale-110" />
            </div>
            <div>
                <h3 class="font-semibold text-nature-600 transition-colors duration-300
             group-hover:text-white">
                    Cho thuê toà nhà Quận 10
                </h3>
                <p class="text-sm text-nature-300 transition-colors duration-300
             group-hover:text-white">102+ tòa nhà</p>
            </div>
        </a>
    </div>
</div>

<!-- nháp -->