<div data-aos="zoom-in-right" class="max-w-full aos-init">
    <img src="assets/images/working-meeting-asian-colleagues.jpg" alt="Homelist4_property"
        class="object-cover object-center">
</div>

<div data-aos="flip-down" class="flex flex-col justify-center aos-init">
    <h2 data-aos="zoom-in-up" class="heading-2 !text-start aos-init aos-animate">VỀ CHÚNG TÔI</h2>
    <p data-aos="zoom-in-up"
        class="mb-4 mt-3.5 font-poppins text-base font-medium text-new-800 sm:mb-5 md:mb-6 md:mt-4 lg:mb-[30px] lg:mt-5 lg:text-lg aos-init aos-animate">
        Công ty TNHH Dịch Vụ Bất Động Sản An Phú Holdings thành lập
        06/06/2013. Phương chăm chúng tôi hoạt động là: luôn lấy lợi ích khách
        hàng làm mục tiêu phấn đấu và phát triển. "Chúng tôi không chỉ mỉm
        cười với khách hàng mà còn khiến khách hàng phải mỉm cười với chúng
        tôi".
    </p>
    <p data-aos="zoom-in-up" class="font-poppins text-base font-medium text-new-800 lg:text-lg aos-init aos-animate">
        Với nhiệm vụ giúp khách hàng tìm kiếm được những sản phẩm tốt nhất,
        Chúng tôi không ngừng cố gắng cải thiện chất lượng dịch vụ, tuyển dụng
        và đào tạo nhân sự, thay đổi cơ cấu. Và chỉ trong vòng 4 năm chúng tôi
        đã là một trong những công ty bất động sản có chất lượng dịch vụ đứng
        số 1 tại TPHCM cũng như khu vực phía Nam do hiệp hội bất động sản cũng
        như khách hàng công nhận.
    </p>

    <div class="mt-10 flex items-center gap-5 lg:gap-6 xl:gap-8 2xl:gap-11">
        <a data-aos="zoom-in-right" href="#"
            class="aos-init swiper-slide-active rounded-full border border-secondary px-4 py-1.5 font-poppins text-xs font-medium text-new-900 transition-all hover:text-secondary sm:px-5 sm:py-3.5 sm:text-sm md:px-6 md:py-4 md:text-base lg:gap-x-2 lg:px-7 lg:py-[18px] lg:text-lg xl:gap-x-2.5 xl:px-[30px] xl:py-5"><span
                class="pr-1.5">Read More</span><svg class="svg-inline--fa fa-arrow-right-long" aria-hidden="true"
                focusable="false" data-prefix="fas" data-icon="arrow-right-long" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor"
                    d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z">
                </path>
            </svg></a>
        <button data-aos="zoom-in-right" class="aos-init swiper-slide-active group flex items-center gap-x-2.5">
            <svg class="svg-inline--fa fa-circle-play text-3xl text-secondary lg:text-4xl xl:text-5xl 2xl:text-[54px]"
                aria-hidden="true" focusable="false" data-prefix="far" data-icon="circle-play" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                <path fill="currentColor"
                    d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c7.6-4.2 16.8-4.1 24.3 .5l144 88c7.1 4.4 11.5 12.1 11.5 20.5s-4.4 16.1-11.5 20.5l-144 88c-7.4 4.5-16.7 4.7-24.3 .5s-12.3-12.2-12.3-20.9l0-176c0-8.7 4.7-16.7 12.3-20.9z">
                </path>
            </svg><!-- <i class="fa-regular fa-circle-play text-3xl text-secondary lg:text-4xl xl:text-5xl 2xl:text-[54px]"></i> Font Awesome fontawesome.com -->
            <span
                class="font-poppins text-base font-medium text-new-900 transition-all group-hover:text-secondary lg:text-lg">Watch
                Our Videos</span>
        </button>
    </div>
</div>